<a href="https://colab.research.google.com/github/JanseyScofield/WorkShops-Infinity-School/blob/main/machine_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importar bibliotecas para manipulação de dados

In [ ]:
import pandas as pd

#Carregar os dados de em um DataFrame do Pandas

In [ ]:
housing = pd.read_csv("housing.csv")

In [3]:
#Data Frame
housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
10946,-117.88,33.74,25.0,1799.0,557.0,3416.0,538.0,3.0083,163500.0,<1H OCEAN
9127,-118.08,34.58,12.0,3851.0,857.0,2169.0,811.0,3.0101,116300.0,INLAND
2897,-119.01,35.38,44.0,434.0,110.0,274.0,86.0,1.1944,57500.0,INLAND
468,-122.29,37.87,44.0,2539.0,755.0,1382.0,713.0,2.5370,175000.0,NEAR BAY
8429,-118.36,33.92,46.0,1231.0,231.0,793.0,256.0,4.1023,226800.0,<1H OCEAN

#Ciência da Dados(Análise Exploratória de Dados)

In [ ]:
housing.head()

Obter informações sobre DataFrame

In [ ]:
housing.info()

Verificar a distribuição da coluna 'ocean_proximity'

In [ ]:
housing["ocean_proximity"].value_counts()

Descrever as estatísticas dos atributos numéricos

In [16]:
estat = housing.describe()

In [17]:
print(estat["longitude"])

count    20640.000000
mean      -119.569704
std          2.003532
min       -124.350000
25%       -121.800000
50%       -118.490000
75%       -118.010000
max       -114.310000
Name: longitude, dtype: float64

In [19]:
print(housing.describe()["population"])

count    20640.000000
mean      1425.476744
std       1132.462122
min          3.000000
25%        787.000000
50%       1166.000000
75%       1725.000000
max      35682.000000
Name: population, dtype: float64

#Visualização dos Dados (Gráficos)

Importando o matplot

In [20]:
import matplotlib.pyplot as plt

In [ ]:
housing.hist(bins=50, figsize=(20,15))
plt.show()

#Tratamento de Dados

1) Valores ausentes:

In [ ]:
missing_values = housing.isnull().sum()
print(missing_values)

Preencher valores com a mediana

In [24]:
median = housing["total_bedrooms"].median()
print(median)
housing["total_bedrooms"].fillna(median, inplace=True)

435.0

In [ ]:
missing_values_after_fill = housing.isnull().sum()
print(missing_values_after_fill)

2) Usando 'one-hot encoding'

In [ ]:
#Codificação one-hot para variável categórica 'ocean_proximity'
housing_encoded = pd.get_dummies(housing, columns=["ocean_proximity"])
housing_encoded.sample(5)

3)Normalização das Features

In [28]:
#Esta classe é utilizada para realizar a normalização dos dados.
from sklearn.preprocessing import MinMaxScaler

In [29]:
#Este objeto será usado para aplicar a transformação de normalização aos seus dados.
scalr = MinMaxScaler()